# Ignore virtual environment
venv/
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs
logs/
*.log

# Ignore IDE/Editor files
.vscode/
.idea/
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

#Ignore csv files
.csv